body{
    font-family: "Inter", sans-serif;
    margin: 0 auto;
}
.btn{
    color: white;
    padding: 12.5px 16px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(30deg, #F7E93F,#FB09B4,#9100F8);
}
.btn1{
    border: solid 2px #00FF88;
    background-color: transparent;
    color: #00FF88;
    border-radius: 40px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
}
.gradient-text{
    background: linear-gradient(0deg, #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    padding-top: 24px;
}
.navbar h1{
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.navbar .links ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}
.navbar .links ul a{
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.hero{
    max-width: 1600px;
    background-color: #1A0B2E;
    text-align: center;
    padding: 101px 400px;
    background-image: url('./images/hero-bg.png');
    background-repeat: no-repeat;
}
/*.hero .hero-content{
    background-image: url("./images/hero-circle.png");
    background-repeat: no-repeat;
    text-align: center;
}*/
.hero .hero-content h2{
    color: white;
    font-size: 60px;
    font-weight: 800;
}
.hero .hero-content .hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.hero .hero-content p{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
}
.hero .hero-content .image-wrapper{
    position: relative;
    width: 350px;
    height: 350px;
}
.hero .hero-content .image-wrapper .circle{
    width: 100%;
    height: 100%;
}
.hero .hero-content .image-wrapper img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about{
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px 200px;
    text-align: center;
    background-color: #1A0B2E;
}
.counts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}
.about h2{
    color: white;
    font-size: 48px;
    font-weight: 700;
}
.about .about-p{
    padding: 0 10%;
    
}
.about .about-p  p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 80%;
}
.about hr{
    border: none;
    height: 0.3px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 80px;
    margin-bottom: 50px;
}
.counts h4{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}
.counts p{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.features{
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
    background-color: #230E3D;
    /*max-height: 1121px;*/
}
.features h2{
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.h4-style{
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
} 
.p-style{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 80%;
}
.features .box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.card{
    background-color: #351165;
    border-radius: 16px;
    padding: 40px 40px;    
}
.tall-card{
    grid-row: span 2;
    padding-top:107px;
    padding-bottom:107px;
}
.fat-card{
    grid-column: span 2;
    padding-bottom: 40px;
}
.episode-details{
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 200px;
    background-color: #1A0B2E;
}
.episode-details h2{
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.episode-details .episode{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.episode-details .episode .episode-card{
    border-radius: 16px;
    overflow: hidden;
     
    background-color: #250D44;  
}
.episode-details .episode .episode-card .episode-txt{
    padding: 20px;
    color: #FFFFFF;
}
.episode-details .episode .episode-card .episode-txt h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}
.episode-details .episode .episode-card .episode-txt p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 80%;
    margin-bottom: 12px;
}
.episode-details .episode .episode-card .episode-txt span{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 80%;
    color: #00FF88;
}
.episode-details .episode .episode-card iframe{
   width: 100%;
    height: 315px;
}

.episode-details .host{
    margin-top: 120px;
}
.episode-details .host .heading{
    text-align: center;
}
.episode-details .host .host-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:  #250D44;
    border-radius: 16px;
    padding: 40px;
    align-items: center;
    gap: 0px;
}
.episode-details .host .host-content .host-text{
    grid-column: span 2;
}

.episode-details .host .host-content .host-text h4{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.episode-details .host .host-content .host-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
}
.episode-details .host .host-content .social-icons{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 0px;
    grid-column: span 1;
}
.episode-details .host .host-content .social-icons a img{
    border: rgba(255, 255, 255, 0.1) 1px solid;
    border-radius: 50%;

}