body{
    font-family: "Inter", sans-serif;
    margin: 0 auto;
}
.btn{
    color: white;
    padding: 12.5px 16px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(30deg, #F7E93F,#FB09B4,#9100F8);
}
.gradient-text{
    background: linear-gradient(0deg, #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}
.navbar h1{
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.navbar .links ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}
.navbar .links ul a{
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}