body{
    font-family: "Inter", sans-serif;
    margin: 0 auto;
}
.btn{
    color: white;
    padding: 12.5px 16px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(30deg, #F7E93F,#FB09B4,#9100F8);
}
.btn1{
    border: solid 2px #00FF88;
    background-color: transparent;
    color: #00FF88;
    border-radius: 40px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
}
.gradient-text{
    background: linear-gradient(0deg, #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    padding-top: 24px;
}
.navbar h1{
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.navbar .links ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}
.navbar .links ul a{
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.hero{
    max-width: 1600px;
    background-color: #1A0B2E;
    text-align: center;
    padding: 101px 400px;
    background-image: url('./images/hero-bg.png');
    background-repeat: no-repeat;
}
/*.hero .hero-content{
    background-image: url("./images/hero-circle.png");
    background-repeat: no-repeat;
    text-align: center;
}*/
.hero .hero-content h2{
    color: white;
    font-size: 60px;
    font-weight: 800;
}
.hero .hero-content .hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.hero .hero-content p{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
}
.hero .hero-content .image-wrapper{
    position: relative;
    width: 350px;
    height: 350px;
}
.hero .hero-content .image-wrapper .circle{
    width: 100%;
    height: 100%;
}
.hero .hero-content .image-wrapper img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
